ul,li{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
.datepicker input{
    display: inline-block;
    width: auto;
}
li.items{
    display: inline-block;
    position: relative;
    list-style: none;
}
li .filterpanel{
    position: absolute;
    background: #fff;
    text-align: left;
    border-radius: 8px;
    top:36px;
    border:1px solid #c6c6c6;
    overflow: hidden;
}
.fiterpanel .filterlist{
    padding: 0;
}
.filterpanel .submit{
    display: block;
    text-decoration: none;
}
li .filterpanel span{
    display: block;
    width: 180px;
}
.borders{
    display: inline-block;
}
.header{
    height: 77px;
}
.header .div_logo{
    float: left;
}
.logo{
    margin-left: 15px;
    display: block;
    width: 120px;
    height: 60px;
    background: url(../images/logo.png);
}
.content .left-content{
    float: left;
    width: 200px;
    position: relative;
    margin-left: 10px;
}
.content .right-content{
    min-width:1024px;
    margin-left: 220px;
    margin-right: 10px;
}
table tr th,td{
    text-align: center;
    vertical-align:center;
}
#nav-list .current{
    color: #5cb85c!important;
}
.summarydata{
    width:100%;
}
.summarydata .menu{
    color:#555;
    font-size: 0.8rem;
    margin-top:10px;
    font-family: 'microsoft yahei'
}
.summarydata .num{
    font-size: 1.2rem;
    color: #01a7ad;
}
.i_orderd{
    border-top: 4px solid #000;
    border-right: 4px dashed transparent;
    border-left: 4px dashed transparent;
}
.i_orderu {
    border-bottom: 4px solid #000;
    border-right: 4px dashed transparent;
    border-left: 4px dashed transparent;
}
.i_orderu, .i_orderd, .i_orderl, .i_orderr, .i_caret_no {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 3px;
    overflow: hidden;
    width: 0px;
    font-size: 0px;
    height: 0px;
    line-height: 0;
}
/* #time_h td{
   cursor: pointer;
 }
 #time_h td:hover{
   background: #ccc;
 }
 td.usd-vnd:hover{
   background: #ccc;
 }
 td.usd-vnd{
   cursor: pointer;
 }
 td#usd-vnd:hover{
   background: #ccc;
 }
 td#usd-vnd{
   cursor: pointer;
 }
 #t_detail{
   display: none;
   position: absolute;
   left: 30%;
   top:30%;
   width: 50%;
   height: 500px;
   background: #ccc;
 }*/
.channel_detail_h tr td,#role_order_detail thead tr td{
    background: #60bb5d;
}
#refresh_tran{
    background-image: url(../images/refresh.png);
    width: 20px;
    height: 17px;
    display: inline-block;
    margin-right: 8px;
}
.option{
    text-align: right;
    line-height: 43px;
}
.date-downlist {
    width: 230px;
    height: 28px;
    margin: 6px 10px 0px 0px;
    position: relative;
    display: inline-block;
    text-align: left;
    line-height: 28px;
    background-color: #FDFDFD;
    border: 1px solid #B4B4B4;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #EAEAEA inset;
}

.date-downlist .dateselect {
    display: block;
    text-align: left;
    cursor: pointer;
    padding-left: 22px;
}
.date-downlist .date-downlist-list {
    width: 100%;
    display: none;
    position: absolute;
    top: 36px;
    left: -1px;
    background: none repeat scroll 0% 0% #FDFDFD;
    border: 1px solid #B4B4B4;
    border-radius: 8px;
    text-align: left;
    z-index: 310;
}
.date-downlist .pulldown {
    position: absolute;
    right: 10px;
    top: 3px;
}
.icon {
    background: url("../images/icon.png") no-repeat scroll 0px 0px transparent;
    display: inline-block;
    height: 24px;
    overflow: hidden;
    vertical-align: middle;
    width: 24px;
    line-height: 24px;
    text-indent: -9999px;
}
.pulldown {
    background: url("../images/icon.png") no-repeat scroll 0px -577px transparent;
}

.list2{
    display: none;
    text-align: right;
}
.nav-list .on{
    display: block;
}
.list2 .current{
    /* color: #f00;*/
    background-color: #d5d5d5;
}
.globalNav{
    height: 42px;
    background: #428bca;
    margin-bottom: 10px;
}
.leftCol{
    padding-left:12px;
    padding-top: 6px;
    position: relative;
}
.js-select{
    border-radius: 5px;
    height: 30px;
    background: #e5e5e5;
    margin-top:0px;
}
.js-select .select-head{
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    padding:0px 10px 0px 9px;
    text-align: right;
    vertical-align:text-top;
}
.app-select{
    width: 155px;
    position: absolute;
    margin-left: 132px;
}
.os-select{
    width: 198px;
    position: absolute;
    margin-left: 297px;
    line-height: 30px;
    height: 30px;
}
.state-select{
    width: 123px;
    position: absolute;
}
.date-select {
    width: 222px;
}
.selected{
    max-width: 166px;
    float: left;
}
#app_selected.selected img{
    position: relative;
    top: 3px;
    float: left;
    margin-right: 15px;
}
#state_selected.selected img{
    position: relative;
    top: 8px;
    float: left;
    margin-right: 15px;
}
.app-select-list{
    width: 155px!important;
    left: 142px;
}
.state-select-list{
    width: 123px!important;
    left: 10px;
}
.select-list{
    position: absolute;
    width: 100%;
    border: 1px solid #CCC;
    background-color: #FFF;
    max-height: 300px;
    min-height: 24px;
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y:auto;
    z-index: 10;

    top: 36px;
}
.select-list li {
    line-height: 30px;
    margin: 0px 2px;
    padding: 0px 7px;
    cursor: pointer;
    overflow: hidden;
}

.date-select-list li{
    text-align: center;
}
.date-select-list li input{
    width: 98px;
    border: 1px solid #428BCA;
}
.state-select-list img{
    position: relative;
    top: 8px;
    float: left;
}
.app-select-list img{
    position: relative;
    top: 3px;
    float: left;
}
.select-list li:hover{
    background: #ccc;
}
.option .date-def{
}
.option .date-def input[type="text"]{
    width: 82px;
    height: 20px;
}
.option .date-def input[type="button"]{
    width: 40px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.option .date-def input.btn-confirm{
    background-color: #5cb85c;
}
.contentCol {
    margin-left: 228px;
    text-align: center;
    overflow: visible;
    padding-bottom: 0px;

}
.globalNav .linkpanel {
    /*position: absolute;
    right: 47px;*/

}
.linkpanel .rate_idr{
    text-align: right;
    padding-right: 47px;
    line-height: 30px;
    color: #fff;
    position: relative;
}
.linkpanel .rate_idr .roll{
    position: absolute;
    right: 4%;
    width: 200px;
}

.topNav {
    height: 60px;
}
.navItem {
    display: inline-block;
    margin-right: 60px;
    vertical-align: middle;
    overflow: hidden;
}
div.currentItem .icons4 {
    margin: 0px auto;
    background: url("../images/icon.png") no-repeat scroll -24px -1080px transparent;
}
.navItem .icons4 {
    margin: 0px auto;
    background: url("../images/icon.png") no-repeat scroll 0px -1080px transparent;
}
.navItem span {
    line-height: 16px;
    font-size: 16px;
    color: #333;
    display: block;
}
.navItem .bot {
    margin-top: 4px;
    height: 5px;
}
.currentItem .bot {
    background: none repeat scroll 0% 0% #01A7AD;
}
.manu{padding:3px;margin:3px;text-align:center;display: none}
.manu a{border:#eee 1px solid;padding:2px 5px;margin:2px;color:#036cb4;text-decoration:none;cursor: pointer;}
.manu a:hover{border:#999 1px solid;color:#666;}
.manu a:active{border:#999 1px solid;color:#666;}
.manu .current{border:#036cb4 1px solid;padding:2px 5px;font-weight:bold;margin:2px;color:#fff;background-color:#036cb4;}
.manu .disabled{border:#eee 1px solid;padding:2px 5px;margin:2px;color:#ddd;}


